# Dependencies
node_modules/

# Build outputs
.next/
dist/
build/

# Local Netlify folder
.netlify

/src/generated/prisma

# Database
prisma/dev.db
prisma/dev.db-journal
*.db
*.db-journal

# Environment
.env
.env.local

# Logs
*.log

# OS
.DS_Store
